@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 40vw
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

// New styles added
body
  font-size: 1.05rem !important;

.section
    padding: 2rem 1.5rem !important;
.product-section, .product-section .section
  padding: 0 0 1rem 0 !important

.navbar
  background-color: #078b8d !important
.navbar-item
  color: #ffffff !important
  font-weight: 700;
.navbar-item:hover
  color: #cccccc !important
.navbar-item img
  max-height: none !important

.footer
  background-color: #078b8d !important
.footer li
  font-weight: 500;
.footer h3, .footer li, .footer li a
  color: #ffffff !important
.footer li a:hover
  color: #cccccc !important
.is-vertical-center
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;

.text-title
  color: #078b8d !important;
  font-size: 2rem !important;
  font-weight: 500;

@import "~bulma"
